@page
@using Qurrah.Business
@using static Qurrah.Business.Constatnts;
@model RegisterModel
@{
    if (User.IsInRole(Role.Administrator))
        ViewData["Title"] = "Admin - Register";
    else
        ViewData["Title"] = "Register";
}

<section class="container mt-5">
    <div class="border rounded-4 p-3">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>تسجيل مستخدم جديد</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">

                <div class="col-12">
                    <div class="form-floating my-2">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Model.Input.Email" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <!--Customization here  to add more fields-->

                <div class="col-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Model.Input.Name" />
                        <label asp-for="Input.Name"></label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.City" class="form-control" aria-required="true" placeholder="Model.Input.City" />
                        <label asp-for="Input.City"></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.State" class="form-control" aria-required="true" placeholder="Model.Input.State" />
                        <label asp-for="Input.State"></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.StreetAddress" class="form-control" aria-required="true" placeholder="Model.Input.StreetAddress" />
                        <label asp-for="Input.StreetAddress"></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.PostalCode" class="form-control" aria-required="true" placeholder="Model.Input.PostalCode" />
                        <label asp-for="Input.PostalCode"></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="Model.Input.PhoneNumber" />
                        <label asp-for="Input.PhoneNumber"></label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        <small class="text-muted">مثال: 0123456789</small>
                    </div>
                </div>
                <!--End of Customization-->

                <div class="col-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Model.Input.Password" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating my-2">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Model.Input.ConfirmPassword" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <!--Customization here  to add role/company fields-->
                @if (User.IsInRole(Role.Administrator))
                {
                    <div class="col-6">
                        <div class="form-floating my-2">
                            <select asp-for="Input.Role"
                                asp-items="Model.Input.Roles"
                                    id="rolesSelect"
                                    class="form-select"
                                    aria-required="true">
                                <option></option>
                            </select>
                            <label asp-for="Input.Role"></label>
                        </div>
                    </div>
                    //<div class="col-6">
                    //    <div class="form-floating my-2">
                    //        <select asp-for="Input.CompanyId"
                    //            asp-items="Model.Input.Companies"
                    //                id="companiesSelect"
                    //                class="form-select"
                    //                style="display:none"
                    //                aria-required="true">
                    //            <option></option>
                    //        </select>
                    //        <label asp-for="Input.CompanyId" style="display:none"></label>
                    //    </div>
                    //</div>
                }
            </div>
            <div class="mt-4"></div>
            <!--End of Customization-->

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">تسجيل</button>
        </form>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rolesSelect').change(function () {
                if ($(this).val().toLowerCase() == "company") {
                    $('#companiesSelect').show();
                    $('#companiesSelect').next('label').show();
                }
                else {
                    $('#companiesSelect').hide();
                    $('#companiesSelect').next('label').hide();
                }
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
